.settingComponent {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.settingComponent-select {
    display: flex;
    flex-direction: column;
    min-width: 116px;
    width: 33%;
    gap: 4px;
    color: white;
}

.settingComponent-select select {
    background-color: black;
    color: white;
    cursor: pointer;
    height: 30px;
    border: none;

}

