.gridComponent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.gridComponent tr {
  display: flex;
  gap: 4px;
}

.gridComponent td {
  border: 1px solid #ffffffc4;
  padding: 2px;
  height: 50px;
  width: 50px;
  background-color: #ffffff21;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridComponent td img {
  width: 90%;
  height: 90%;
}
